{% include 'header.html.twig' %}

    <h1>Welcome to To Do List</h1>

    <p>Create a New Category:</p>

    <form class="" action="/categories" method="post">
        <label for="name">Category name:</label>
        <input id="name" name="name" type="text">

        <button type="submit">Add category</button>
    </form>

    {% if categories is not empty %}
        <p>Here are all your categories:</p>
        <ul>
            {% for category in categories %}
                <li><a href="/categories/{{ category.getId }}">{{ category.getName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no categories yet!</p>
    {% endif %}

{% include 'footer.html.twig' %}
